In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt


#loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.loc[0:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [3]:
median_salary_year  = df['salary_year_avg'].median()

In [4]:
median_salary_hour  = df['salary_hour_avg'].median()

In [9]:
df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [10]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

In [12]:
df_unique
print('length of oreginal df:         ', len(df_filled))
print('length of df_unique df:         ', len(df_unique))
print('rows dropped :         ', len(df_filled) - len(df_unique))

length of oreginal df:          785741
length of df_unique df:          785640
rows dropped :          101

In [13]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])
print('length of oreginal df:         ', len(df_filled))
print('length of df_unique df:         ', len(df_unique))
print('rows dropped :         ', len(df_filled) - len(df_unique))

length of oreginal df:          785741
length of df_unique df:          508042
rows dropped :          277699